/* app.css */
<<<<<<< HEAD

.navigation{
    background-color: rgb(154, 171, 194);
    color: black;
}

.footer{
    background-color: rgb(60, 74, 82);
    color: white;
}
=======
>>>>>>> 9d367a531177c500512c5f8f6995b031a4cddc09
